{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'base.html' %}
{% import 'macro.html' as macro %}


{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/profile.css')}}">
{% endblock %}

{% block title %}
{% if title %}
{{ title }}
{% else %}
My Profile
{% endif %}
{% endblock title %}


{% block content %}
<div class="container-fluid">
    <div class="row row1">
        <div class="col ppic">
            {% if user.profile_picture %}
            <div class="pic">
                <img src="{{ url_for('static', filename = user.profile_picture)}}" alt="" class="img-fluid" srcset=""
                    style="height: 300px; width: 300px;">
            </div>
            {% else %}
            <div class="pic">
                <img src="{{ url_for('static', filename = 'profile_photos/default.jpeg')}}" alt="" class="img-fluid"
                    srcset="" style="height: 300px; width: 300px;">
            </div>
            {% endif %}
            <div class="modalwrap">
                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Upload Photo
                </button>
    
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Upload Photo</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="{{url_for('main.update_profile')}}" method = "POST" enctype="multipart/form-data">
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="formFile" class="form-label">Upload Photo:</label>
                                        <input class="form-control" type="file" id="photo" name = "photo">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-light">Upload</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
    
            </div>

        </div>
        <div class="col dets">
            <div class="content">
                <div class="texts">
                    <h4>
                        Names
                    </h4>
                    <p>
                        {{ user.firstname}} {{ user.secondname }}
                    </p>
                </div>
                <div class="texts">
                    <h4>
                        Username
                    </h4>
                    <p>
                        {{ user.username }}
                    </p>
                </div>
                <div class="texts">
                    <h4>
                        Email
                    </h4>
                    <p>
                        {{ user.email }}
                    </p>
                </div>
                <div class="texts">
                    {% if user.profile_bio %}
                    <h4>
                        Bio
                    </h4>
                    <p>
                        {{ user.profile_bio }}
                    </p>
                    {% else %}
                    <p>
                        No bio provided
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="mypitches">
            <h3 style="text-align: center;">
                My Pitches
            </h3>
            <div class="thepitch">
                {{ macro.myPitches(mypitches) }}
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="mycomments">
            {% if mycomments %}
            <h3 style="text-align: center;">
                My Comments
            </h3>
            <div class="thecomment">
                {{ macro.myComments(mycomments) }}
            </div>
            {% else %}
            <h3>
                My Pitches
            </h3>
            <div class="thecomment">
                <p>
                    You have not commented on any post
                </p>
            </div>
            {% endif %}
            {{ macro}}
        </div>
    </div>
</div>
{% endblock content %}

<h4>
    Bio
</h4>
<p>
    You have no Bio
</p>