{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'base.html' %}


{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
{% endblock styles %} 

{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        Login
    {% endif %}
{% endblock title %}


{% block content %}

    <div class="container-fluid bigWrapper">
        <div class="loginForm">

            <div class="col-md-3 col1">
                {% for message in get_flashed_messages() %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-bs-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
            </div>

            <div class="col col11">
                <form class="form-floating" action="" method = "POST">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name = "username" id="username" value = "{{ username }}" placeholder="Username" required>
                        <label for="username">Username</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" name = "password" id="password" value = "{{ password }}" placeholder="Password" required> 
                        <label for="password">Password</label>
                    </div>
                    <button type="submit" action = "{{ url_for('authentication.login')}}" class="btn btn-outline-secondary">Sign In</button>
                </form>
                <div class="register">
                    <p> Don't have an account? <a href="{{url_for('authentication.register')}}">Sign up here</a></p>
                </div>
            </div>

            <div class="col-md-3 col1">

            </div>
        
        </div>
    </div>

{% endblock content %}


