{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as  wtf %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/register.css')}}">
{% endblock %} 

{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        Register with us 
    {% endif %}
{% endblock title %}

{% block content %}
    <div class="container-fluid bigWrapper">
        <div class="row">
            <div class="col-md-6 col1">
                 
            </div>
            <div class="col col2">

                <div class="registrationform">
                    <form class="form-floating" action = "" method = "POST">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name = "firstName" id="firstName" value = "{{ firstName }}" placeholder="First Name" required>
                            <label for="firstName">First Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name = "lastName" id="lastName" value = "{{ lastName }}" placeholder="Last Name" required>
                            <label for="lastName">Last Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name = "username" id="username" value = "{{ username }}" placeholder="Username" required>
                            <label for="username">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" name = "email" id="email" value = "{{ email }}" placeholder="Email Address" required>
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name = "password" id="password" value = "{{ password }}" placeholder="Password" required> 
                            <label for="password">Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name = "confirmPassword" id="confirmPassword" value = "{{ confirmPassword }}" placeholder="Confirm Password" required>
                            <label for="confirmPassword">Confirm Password</label>
                        </div>
                        
                        <button type="submit" action = "{{ url_for('authentication.register')}}" class="btn btn-outline-secondary">Sign Up</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}

<!-- {{ wtf.quick_form(registration_form) }} -->
