.bigWrapper{
    height:100%;
    background-color: #616283;
}
.heading{
    height:40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.context{
    padding: 10px 10px; 
    display: flex;
    flex-wrap: wrap;
}
.card{
    color: whitesmoke;
    background-color: rgb(255, 255, 255, 0) !important;
}