.bigWrapper{
    height: 100%;
    background-image: url(../images/categ2.jpg);
    background-size:100% 100%;
}
.heading{
    height:40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: whitesmoke;
}
.context{
    padding: 10px 10px; 
    display: flex;
    flex-wrap: wrap;
}
.card{
    color: whitesmoke;
    background-color: rgb(255, 255, 255, 0.2) !important;
}