.bigWrapper{
    height:100%;
    background-image: url(../images/register.jpg);
}
.col2{
    margin-top: 10px;
    padding-top: 10px;
    border-left: 2px solid darkslategray;
}
.registrationform{
    width: 80%;
}